@font-face {
	font-family: "Comfortaa";
	src: url("Comfortaa.ttf") format("truetype")
}

* {
	color: #e2e2e2;
	font-size: 120%;
	font-family: "Comfortaa"
}

html {
	height: 100%;
	background: linear-gradient(to bottom, #1d224c, #0c193c);
	background-color: #1d224c;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	overflow-x: hidden;
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-width: 360px;
	height: fit-content;
	z-index: 5;
	background: linear-gradient(to right, #1e305e, #154061);
	box-shadow: 0px 0px 10px 10px #00000065;
	padding-top: 10px;
	padding-bottom: 10px;
}

.header>p {
	text-align: center;
	font-size: 200%;
	height: fit-content;
	margin: 0;
	opacity: 0.8;
}

.main {
	width: 100%;
	min-width: 360px;
	max-width: 1920px;
	height: auto;
	padding-top: 120px;
	padding-bottom: 178px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.container {
	width: 90%;
	height: fit-content;
}

.container>p {
	font-size: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
}

.fit {
	width: fit-content;
	height: fit-content;
}

.hidden {
	display: none !important;
}

.loader {
	position: absolute;
	width: fit-content;
	height: fit-content;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.loader>img {
	display: block;
	width: 75px;
	margin: 0 auto;
	animation: spin 2s linear infinite;
}

.message {
	width: 90%;
	height: fit-content;
	margin-top: 120px;
	margin-bottom: -90px;
	border: solid;
	border-width: 2px;
	border-radius: 7px;
	opacity: 0.8;
	box-shadow: 0px 0px 8px 8px #0000005e;
}

.message>p {
	font-size: 90%;
	text-align: center;
	color: black;
}

.message.success {
	border-color: #39f552;
	background: linear-gradient(to right, #39f549, #57f35f);
}

.message.warn {
	border-color: #f5e939;
	background: linear-gradient(to right, #f5e239, #f3c257);
}

.message.error {
	border-color: #f53939;
	background: linear-gradient(to right, #f53939, #f35757);
}

.viewport {
	width: 90%;
	height: 450px;
	margin-bottom: 10px;
	border: solid;
	border-width: 2px;
	border-radius: 7px;
	border-color: #163e5c;
	background: linear-gradient(to right, #1e305e, #154061);
	opacity: 0.8;
	box-shadow: 0px 0px 8px 8px #0000005e;
	display: none;
}

.tabbar {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	min-width: 360px;
	height: fit-content;
	z-index: 1;
	margin-top: 20px;
	background: linear-gradient(to right, #1e305e, #154061);
	box-shadow: 0px 0px 10px 10px #00000065;
}

.tabicon {
	max-width: 128px;
	max-height: 128%;
	margin: 20px;
	border: solid;
	border-width: 5px;
	border-radius: 7px;
	border-color: #163e5c;
	background: linear-gradient(to right, #1e305e, #154061, #198bec, #00eefb);
	background-size: 400% 100%;
	background-position: 0 0;
	transition-duration: 0.4s;
	box-shadow: 0px 0px 8px 8px #0000005e;
}

.tabicon:hover {
	border-color: #1178c793;
	background-position: 50% 0;
}

.tabicon.active {
	border-color: #1185dd93;
	background-position: 50% 0;
	box-shadow: 0px 0px 8px 8px #1185dd93;
}

.control {
	width: 100%;
	height: 60%;
	padding-top: 20px;
}

.combo {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	border: solid;
	border-width: 2px;
	border-radius: 7px;
	border-color: #163e5c;
	background: linear-gradient(to right, #1e305e, #154061, #198bec, #00eefb);
	background-size: 400% 100%;
	background-position: 0 0;
	transition-duration: 0.4s;
	opacity: 0.8;
	box-shadow: 0px 0px 8px 8px #0000005e;
}

.combo:hover {
	background-position: 50% 0;
}

option {
	text-align: center;
	background-color: #154061;
	opacity: 0.8;
}

.slider {
	display: flex;
	width: 100%;
	height: 35px;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-bottom: 30px;
	border: solid;
	border-width: 2px;
	border-radius: 7px;
	border-color: #163e5c;
	background: linear-gradient(to right, #1e305e, #154061, #198bec, #00eefb);
	background-size: 400% 100%;
	background-position: 0 0;
	opacity: 0.8;
	transition-duration: 0.4s;
	box-shadow: 0px 0px 8px 8px #0000005e;
}

.slider:hover {
	background-position: 50% 0;
}

.slider>img {
	height: 56px;
	margin-top: -10px;
	padding-left: 2%;
	padding-right: 2%;
}

.slider>input {
	flex-grow: 1;
	height: auto;
	margin-right: 2%;
	border: solid;
	border-width: 2px;
	border-radius: 7px;
	border-color: #1b517a;
	appearance: none;
	outline: none;
	opacity: 0.8;
	transition-duration: 0.4s;
}

.slider>input::-webkit-slider-thumb {
	width: 25px;
	height: 25px;
	border: none;
	background: #1d7da7;
	appearance: none;
	cursor: pointer;
	opacity: 0.8;
	transition-duration: 0.4s;
}

.slider>input::-webkit-slider-thumb:hover {
	background: #27b3ef;
}

.slider>input::-webkit-slider-thumb:active {
	background: #27b3ef;
}

.slider>input::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border: none;
	background: #1d7da7;
	appearance: none;
	cursor: pointer;
	opacity: 0.8;
	transition-duration: 0.4s;
}

.slider>input::-moz-range-thumb:hover {
	background: #27b3ef;
}

.slider>input::-moz-range-thumb:active {
	background: #27b3ef;
}

.slider>.brightness {
	background: linear-gradient(to right, #18264b, #5683ff);
	background-position: 0 0;
}

.slider>.color {
	background: linear-gradient(to right, #ff0000, #00ff00, #0000ff, #ff0000);
	background-position: 0 0;
}

.check {
	display: flex;
	width: 100%;
	height: 35px;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-bottom: 30px;
	border: solid;
	border-width: 2px;
	border-radius: 7px;
	border-color: #163e5c;
	background: linear-gradient(to right, #1e305e, #154061, #198bec, #00eefb);
	background-size: 400% 100%;
	background-position: 0 0;
	opacity: 0.8;
	transition-duration: 0.4s;
	box-shadow: 0px 0px 8px 8px #0000005e;
}


.check:hover {
	background-position: 50% 0;
}

.check>img {
	height: 56px;
	margin-top: -10px;
	padding-left: 2%;
	padding-right: 2%;
}

.check>input {
	width: 35px;
	height: 35px;
	margin-right: 20px;
	border: solid;
	border-width: 2px;
	border-radius: 7px;
	border-color: #1b517a;
	opacity: 0.8;
	transition-duration: 0.4s;
}

.check>label {
	font-size: 90%;
}

.setting {
	width: 90%;
	margin-bottom: 30px;
	padding-bottom: 50px;
	border: solid;
	border-width: 2px;
	border-radius: 7px;
	border-color: #163e5c;
	background: linear-gradient(to right, #1e305e, #154061);
	opacity: 0.8;
	box-shadow: 0px 0px 8px 8px #0000005e;
}

.ssid {
	display: block;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: solid;
	border-width: 2px;
	border-radius: 7px;
	border-color: #0f2b41;
	background: linear-gradient(to right, #172649, #173750);
	background-image: url("../assets/img/wifi_icon.png");
	background-position: 10px 15px;
	background-size: auto 56px;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 8px 8px #0000005e;
	text-align: center;
}

.password {
	display: block;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	border: solid;
	border-width: 2px;
	border-radius: 7px;
	border-color: #0f2b41;
	background: linear-gradient(to right, #172649, #173750);
	background-image: url("../assets/img/password_icon.png");
	background-position: 10px 15px;
	background-size: auto 56px;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 8px 8px #0000005e;
	text-align: center;
}

.ledcount {
	display: block;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	border: solid;
	border-width: 2px;
	border-radius: 7px;
	border-color: #0f2b41;
	background: linear-gradient(to right, #172649, #173750);
	background-image: url("../assets/img/led_icon_3.png");
	background-position: 10px 15px;
	background-size: auto 56px;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 8px 8px #0000005e;
	text-align: center;
}


.button {
	width: 100%;
	height: 60px;
	border: solid;
	border-width: 2px;
	border-radius: 7px;
	border-color: #163e5c;
	background: linear-gradient(to right, #1e305e, #154061, #198bec, #00eefb);
	background-size: 400% 100%;
	background-position: 0 0;
	transition-duration: 0.4s;
	opacity: 0.8;
	margin-bottom: 30px;
	box-shadow: 0px 0px 8px 8px #0000005e;
}

.button:hover {
	background-position: 50% 0;
}

.button:active {
	background-position: 100% 0;
	transition-duration: 0.1s;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}