name: UI build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: UI lint
        uses: TheRealKasumi/TesLight/.github/actions/ui-lint@feat/DevOps_Auto_build_for_Update_Packages

  build:
    needs: [lint]
    runs-on: ubuntu-latest
    steps:
      - name: UI build
        uses: TheRealKasumi/TesLight/.github/actions/ui-build@feat/DevOps_Auto_build_for_Update_Packages
